# Ignore core and community's extension
web/core/
web/modules/contrib/
web/themes/contrib/
web/libraries/

# Ignore dependencies that are managed with Composer.
vendor/

# Ignore configuration files that may contain sensitive information.
web/sites/*/settings*.php
web/sites/*/services*.yml

# Ignore paths that contain user-generated content.
web/sites/*/files/
web/sites/*/private/
private

# Ignore SimpleTest multi-site environment.
web/sites/simpletest
